.article-wrap {
  max-width: 700px;
  margin: 0 auto;

  .article-title {
    color: #1980ff;
    margin-bottom: 2rem;
  }

  .article-desc {
    line-height: 1.5em;
  }
}

.back-link {
  .back-btn {
    margin-bottom: 2rem;
    cursor: pointer;
  }
}
