@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
